*
{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.Temperature-1,.Temperature-2,.Temperature-3
{
    text-align: center;
    padding: 10px;
    
}

#head {
   padding: 15px;
   text-align: center;
   background-color: rgb(243, 239, 7);
   color: black;
}
hr{
    padding: 5px;
    background-color: black;
}
#c{
    background-color: pink;
    padding: 5px;
}
#f{
    background-color: rgb(69, 236, 69);
    padding: 5px;
}
#k{
    background-color: rgb(60, 224, 224);
    padding: 5px;
}
.q,#celcius-1,#kelvin-1,#Fahrenheit-1{
    border-radius: 5px;
    border: 2px solid;
}
#linkofconv
{
    text-align: center;
    padding: 10px;
    border-left:    300px solid red;
    border-right:  300px solid red;
} 
a:visited,a:link{
    color: red;
   }
   a:hover
   {
       color: green;
   }
#navbar
{
    font-size: 26px;
}   
sup{
    font-size: 14px;
}
#hid
{
    visibility: hidden;
}
#reset
{
    background-color: black;
    color: white;
}
.q{
    background-color: orange;
}
#celcius-1
{
    background-color: peachpuff;
}
.Temperature-1
{
    border-left:    300px solid peachpuff ;
    border-right:  300px solid peachpuff ;
}
#kelvin-1
{
    background-color: rgb(60, 224, 224);
}
.Temperature-2
{
    border-left:    300px solid rgb(60, 224, 224) ;
    border-right:  300px solid rgb(60, 224, 224) ;
}
#Fahrenheit-1
{
    background-color: rgb(69, 236, 69);
}
.Temperature-3
{
    border-left:    300px solid rgb(69, 236, 69) ;
    border-right:  300px solid rgb(69, 236, 69) ;
}
